@import "tailwindcss";

body {
  background-color: #1D1D1D;
  color: #0f0f0f;
  font-family: "Geist", sans-serif;
}

html {
  scroll-behavior: smooth;
}


@theme {
  --font-inter: "Inter", sans-serif;
  --font-syne: "Syne", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

a {
  text-decoration: none;
}


::selection {
  background-color: #454545;
  color: white;
}


@media (min-width: 555px) and (max-width: 767px){
  #header-text{
    font-size: 3rem;
  }
}

